.success-alert {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.success-alert-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.success-alert-icon {
    cursor: pointer;
}

.success-alert-close {
    font-size: 16px;
    color: #155724;
}
